<div class="wrapper">
  <p>An object's motion is described by the position-time graph below.</p>

  <img src="./questionsoutput/positionTimeGraph/clientFilesQuestion/graph.png" alt="Picture for problem" width="300" height="300" class="pic">
<hr>Select all regions where the object's velocity is primarily positive.<hr>At point <b>E</b>, the object's acceleration is:<hr>At point <b>F</b>, the object is:<hr>What is the average velocity of the object during the time interval from \( t = 0\rm\ s \) to \( t = 5\rm\ s \)?<hr>How do the velocities of the object at points <b>B</b> and <b>C</b> compare?</div>



<p>1. </p>
<form action="" method=""><input type="checkbox" name="A-B" id="child0">  <label for="A-B"> A-B </label> <br><input type="checkbox" name="B-C" id="child1">  <label for="B-C"> B-C </label> <br><input type="checkbox" name="C-D" id="child2">  <label for="C-D"> C-D </label> <br><input type="checkbox" name="D-E" id="child3">  <label for="D-E"> D-E </label> <br><input type="checkbox" name="E-F" id="child4">  <label for="E-F"> E-F </label> <br><input type="checkbox" name="F-G" id="child5">  <label for="F-G"> F-G </label> <br></form>



<p>2. </p>
<form action="" method="">  <input type="radio" name="acc" id="child0"> positive <br>   <input type="radio" name="acc" id="child1"> negative <br>   <input type="radio" name="acc" id="child2"> zero <br> </form>



<p>3. </p>
<form action="" method="">  <input type="radio" name="speed_change" id="child0"> speeding “up” <br>   <input type="radio" name="speed_change" id="child1"> slowing down <br>   <input type="radio" name="speed_change" id="child2"> neither speeding up nor slowing down <br> </form>



<p>4. </p>
<form action="" method=""> <fieldset class="answers"> <legend> Answer </legend><p> <label for="response"> \( v_{\rm avg} =  \) </label> <input type="text" name="response" id="C" size="50"> </p></fieldset> </form>



<p>5. </p>
<form action="" method="">  <input type="radio" name="v_comp" id="child0"> \( v(B) &gt; v(C) \) <br>   <input type="radio" name="v_comp" id="child1"> \( v(B) = v(C) \) <br>   <input type="radio" name="v_comp" id="child2"> \( v(B) &lt; v(C) \) <br> </form>
