<html lang="en">
    <%- include('./partials/headers.ejs') %>
<body>

    <div class = "blogs content">
        <h2> Oops! 404 Error. </h2>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>