<%- include('partials/header'); -%>

<header>
    <div class="headings">
      <h2> Admin</h2>
    </div>
</header>



<div>
    <a href="/courses">Manage courses</a>
</div>

<div>
  <a href="/manageusers"> Manage users</a>
</div>

<%- include('partials/footer'); -%>