<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>


    <div class = "errors content">
        <h2> <%= title %> </h2>
        <h3> Error Code <%= errCode %></h3>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>