<%- include('partials/header'); -%>

<header>
  <div class="headings">
    <h2>Welcome to GESTALT </h2>
    <h3> Univerity of California Riverside </h3>
  </div>
</header>


<%- include('partials/footer'); -%>